* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sniglet", system-ui; /* Headings font*/
  color: #161717;
  background-color: #fff9f5;
}

h1 {
  font-weight: 800;
  font-size: 54px;
  color: #1b2228;
}

h2 {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #1b2228;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "National Park", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  padding: 80px 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #161717;
  text-decoration: none;
}

.btn:hover {
  background-color: #dadce1;
  text-decoration: underline;
  -webkit-box-shadow: 0 0 2px rgba(69, 70, 71, 0.25);
          box-shadow: 0 0 2px rgba(69, 70, 71, 0.25);
}

.navbar {
  background-color: #f5d3c1;
  color: #1b2228;
}
.navbar img {
  height: 40px;
}

.banner {
  height: 100vh;
  padding: 100px 0;
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/banner-hero.png?raw=true);
  background-position: center;
  background-size: cover;
  background-color: rgba(213, 236, 231, 0.4);
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner-card {
  padding: 30px;
  background-color: rgba(240, 146, 96, 0.9);
  border-radius: 8px;
  -webkit-box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
          box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
}
.banner .banner-card .title-area {
  text-align: center;
}
.banner .banner-card .text {
  text-align: end;
  font-size: 18px;
}

.about .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-flex-left {
  width: 60%;
  padding: 25px 25px 30px;
  border-radius: 8px;
  -webkit-box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
          box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
  background-color: #8dccbd;
}
.about .about-flex-right {
  width: 40%;
  height: 350px;
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/about-image.png?raw=true);
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .about .about-flex {
    gap: 40px;
  }
  .about .about-flex-left {
    width: 70%;
  }
  .about .about-flex-right {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .about .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .about-flex-right {
    width: 100%;
    height: 250px;
    background-position: 50% 25%;
  }
  .about .about-flex-left {
    width: 100%;
  }
}
