*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---BODY OPTIONS--- */
/* National Park: weight 200-800
font-family: "National Park", sans-serif; */
/* Truculenta: weight 100-900
font-family: "Truculenta", sans-serif; */

/* ---HEADINGS OPTIONS--- */
/* Lemon: weight 400 only
font-family: "Lemon", serif; */
/* Yusei Magic: weight 400 only
font-family: "Yusei Magic", sans-serif; */
/* Marko One: weight 400 only
font-family: "Marko One", serif; */

body{
    font-family: "Yusei Magic", sans-serif; /* Headings font*/
    color: #161717;
}

h1{
    font-size: 52px;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: #25323B;
}

h2{
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #25323B;
}

/* h2:last-of-type{
    margin-bottom: 0;
} */

h3{
    font-size: 24px;
}

p{
    font-family: "National Park", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

section{
    padding: 60px 0;
    background-color: #8DCCBD;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.btn{
    display: inline-block;
    padding: 8px 18px;
    background-color: #f2f2f2;
    border-radius: 8px;
    color: #161717;
    text-decoration: none;
}

.btn:hover{
    background-color: #dadce1;
    text-decoration: underline;
    box-shadow: 0 0 2px rgba(69, 70, 71, 25%);
}

.container{
    max-width: 800px;
    width: 90%;
    margin: 0 auto;
}

.title-area{
    margin: 0 auto 30px;
    /* border: 1px dashed; */
}

/* -----BANNER SECTION----- */
.banner{
    padding: 100px 0;
    background-color: #F09260;
    text-align: center;
}

.banner h2{
    line-height: 1;
}

.banner .container{
    max-width: 975px;
}

.banner .title-area{
    max-width: 600px;
    margin-bottom: 50px;
}

.banner-flex{
    display: flex;
    gap: 60px;
    text-align: right;
    vertical-align: middle;
}

.banner-flex-left{
    /* border: 1px solid rgba(5, 5, 10, 45%); */
    width: 50%;
    height: 400px;
    background-color: #f2f2f2;
    background-image: url(/img/banner-image.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 60px;
    /* box-shadow: -3px 3px 6px rgba(105, 105, 105, 25%); */
}

/* .banner-flex-left img{
    border-radius: 230px;
    background-color: aliceblue;
    box-shadow: -5px 5px 12px rgba(105, 105, 105, 25%);
    padding: 10px;
} */

.banner-flex-right{
    width: 50%;
    margin: auto 0;
}

/* -----ABOUT SECTION----- */
.about-flex{
    display: flex;
    gap: 40px;
    vertical-align: middle;
}

.about-flex-left{
    width: 55%;
}

.about-flex-right{
    width: 45%;
    height: 300px;
    margin: auto 0;
    background-image: url("/img/about-image.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* -----PROJECTS SECTION----- */
.projects{
    background-color: #94C9ED;
    text-align: center;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.projects-card{
    height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #C2DCED;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(69, 70, 71, 25%);
}

/* .projects-card img{
    background-color: antiquewhite;
    box-shadow: -3px 3px 3px rgba(105, 105, 105, 25%);
    display: inline-block;
} */

.projects-card:nth-of-type(1){
    background-image: url("/img/card-lingrow.png");
}

.projects-card:nth-of-type(2){
    background-image: url("/img/card-bakery.png");
}

.projects-card:nth-of-type(3){
    background-image: url("/img/card-flower.png");
}

.projects-card:nth-of-type(4){
    background-image: url("/img/card-mentorship.png");
}

.projects-card:nth-of-type(5){
    background-image: url("/img/Card-collage.jpg");
}

.projects-card:nth-of-type(6){
    background-image: url("/img/card-shapes.svg");
}
