* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Sniglet", system-ui; /* Headings font*/
  color: #161717;
  background-color: #fff9f5;
}

h1 {
  font-weight: 800;
  font-size: 54px;
  color: #1b2228;
  line-height: 0.9;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #1b2228;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "National Park", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

section {
  padding: 80px 0;
}
@media (max-width: 768px) {
  section {
    padding: 60px 0;
  }
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 8px 18px;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #161717;
  text-decoration: none;
}

.btn:hover {
  background-color: #dadce1;
  text-decoration: underline;
  -webkit-box-shadow: 0 0 2px rgba(69, 70, 71, 0.25);
          box-shadow: 0 0 2px rgba(69, 70, 71, 0.25);
}

.navbar {
  background-color: #f5d3c1;
  color: #1b2228;
}
.navbar img {
  height: 40px;
}

footer {
  padding: 20px;
  background-color: #f5d3c1;
}

.banner {
  padding: 190px 0 120px;
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/banner-hero.png?raw=true);
  background-position: center;
  background-size: cover;
  background-color: rgba(213, 236, 231, 0.4);
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.banner .banner-card {
  padding: 50px;
  background-color: rgba(240, 146, 96, 0.9);
  border-radius: 8px;
  -webkit-box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
          box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
}
.banner .banner-card .title-area {
  text-align: center;
}
.banner .banner-card .text {
  font-size: 18px;
}
@media (max-width: 992px) {
  .banner {
    padding: 100px 0;
  }
}
@media (max-width: 768px) {
  .banner {
    padding: 80px 0;
  }
  .banner .banner-card {
    padding: 30px;
  }
}
@media (max-width: 576px) {
  .banner {
    padding: 60px 0;
  }
  .banner .banner-card {
    padding: 20px;
  }
}

.about .about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about .about-flex-left {
  width: 60%;
  padding: 25px 25px 30px;
  border-radius: 8px;
  -webkit-box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
          box-shadow: -4px 4px 24px 0 rgba(27, 34, 40, 0.25);
  background-color: #8dccbd;
}
.about .about-flex-right {
  width: 40%;
  height: 350px;
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/about-image.png?raw=true);
  background-position: center;
  background-size: cover;
}
@media (max-width: 992px) {
  .about .about-flex {
    gap: 40px;
  }
  .about .about-flex-left {
    width: 70%;
  }
  .about .about-flex-right {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .about .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .about-flex-right {
    width: 100%;
    height: 250px;
    background-position: 50% 25%;
  }
  .about .about-flex-left {
    width: 100%;
  }
}

.projects {
  text-align: center;
}
.projects .projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.projects .projects-grid .projects-card {
  height: 250px;
  padding: 15px 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C2DCED;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 4px rgba(69, 70, 71, 0.25);
          box-shadow: 0 0 4px rgba(69, 70, 71, 0.25);
}
.projects .projects-grid .projects-card:nth-of-type(1) {
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/card-lingrow.png?raw=true);
}
.projects .projects-grid .projects-card:nth-of-type(2) {
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/card-bakery.png?raw=true);
}
.projects .projects-grid .projects-card:nth-of-type(3) {
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/card-flower.png?raw=true);
}
.projects .projects-grid .projects-card:nth-of-type(4) {
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/card-mentorship.png?raw=true);
}
.projects .projects-grid .projects-card:nth-of-type(5) {
  background-image: url(https://github.com/KyleneA/Portfolio/blob/main/img/Card-collage.jpg?raw=true);
}
.projects .projects-grid .projects-card:nth-of-type(6) {
  background-image: url(https://raw.githubusercontent.com/KyleneA/Portfolio/a9ce4c90348c70c91ee0ea20d77adce3c8034b0b/img/card-shapes.svg);
}
@media (max-width: 768px) {
  .projects .projects-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .projects .projects-grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
